<div class="nested-form-wrapper" data-new-record=<%= f.object.new_record? %> >
  <%= f.label :name %>
  <%= f.text_field :name %>

  <button type="button" data-action="nested-form#remove">Remove guest</button>

  <%= f.hidden_field :_destroy %>
</div>